{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h2>{{ title }}</h2>
    <form method="POST" class="mt-4">
        {{ form.hidden_tag() }}
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.date.label(class="form-label") }}
                {{ form.date(class="form-control") }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.location.label(class="form-label") }}
                {{ form.location(class="form-control") }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.description.label(class="form-label") }}
                {{ form.description(class="form-control") }}
            </div>
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <a href="{{ url_for('events') }}" class="btn btn-secondary">Back to Events</a>
{% endblock %}